.App {
  text-align: center;
  overflow: hidden;
  /* Prevent scrolling on the entire page */
}

.Neon-logo {
  height: 4vmin;
  pointer-events: none;
  margin-top: 1vmin;
  margin-bottom: 5vmin;
}

.resume {
  height: fit-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* left: 100px; */
  top: 30px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: transparent black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;
  margin-top: 40%;
  margin-left: -110px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.application {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.description {
  width: 40%;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 40px;
  text-align: justify;
  margin-bottom: 2%;
}

.source {
  text-align: right
}

a {
  color: cyan;
}